.addContainer {
  width: 50vw;
}

.add {
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: white;
  background: #55acee;
  box-shadow: 0 5px 0 #3C93D5;
  transition: .3s;
  cursor: pointer;
}