.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;

  &_save {
    color: green;
  }

  &_delete {
    color: red;
  }
}
